{% extends 'base.html.twig' %}

{% block title %}
  Accueil | VéloCharbon
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/carrousel.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="container w-full">
    {% if sliderImages is empty %}
      {# Vous pouvez ajouter un message ou une alternative ici si nécessaire #}
    {% else %}
      <div class="relative w-screen overflow-hidden">
        <!-- Slides -->
        {% for sliderImage in sliderImages %}
          <div class="mySlides">
            <img src="{{ asset(sliderImage.getPath()) }}" class="w-screen object-cover h-[460px]" alt="{{ sliderImage.getAlt() }}" />
          </div>
        {% endfor %}

        <!-- Next and Previous Buttons -->
        <button class="prev absolute top-1/2 left-4 transform -translate-y-1/2 text-white text-5xl font-bold hover:scale-125 transition duration-300 cursor-pointer" aria-label="Previous Slide">&#10094;</button>
        <button class="next absolute top-1/2 right-4 transform -translate-y-1/2 text-white text-5xl font-bold hover:scale-125 transition duration-300 cursor-pointer" aria-label="Next Slide">&#10095;</button>

        <!-- Dots -->
        <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-3">
          {% for _ in 0..(sliderImages|length) - 1 %}
            <button class="dot bg-secondary cursor-pointer inline-block w-4 h-4 rounded-full"></button>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>

  <!-- Section Titre principal et description -->
  <div class="py-4 md:py-6 lg:py-8 px-8 md:px-20 lg:px-32 flex flex-col items-center">
    <h1 class="text-xl md:text-2xl lg:text-3xl font-bold text-primary text-center">
      {{ config.block1Title|default('Titre principal par défaut')|raw }}
    </h1>
    <p class="text-gray-600 mt-4 text-justify">
      {{ config.block1Text|default('Description par défaut du bloc 1.')|raw }}
    </p>
  </div>

  <!-- Section Actualités -->
  <div class="py-4 md:py-6 lg:py-8 px-8 md:px-20 lg:px-32 flex flex-col items-center">
    <h2 class="text-lg md:text-xl lg:text-2xl font-bold text-primary mb-4 text-center">
      {{ config.block2Title|default('Actualités')|raw }}
    </h2>
    <p class="text-gray-600 text-justify">
      {{ config.block2Text|default('Description par défaut des actualités.')|raw }}
    </p>
  </div>

  <!-- Photos Miniatures -->
  <div class="grid grid-cols-1 gap-2 md:grid md:grid-cols-2 md:gap-4 lg:grid-cols-3 lg:gap-6 py-4 md:py-6 lg:py-8 px-8 md:px-20 lg:px-32">
    {% for article in latestArticles %}
      <a href="{{ path('show_article', { id: article.id }) }}">
        <div class="relative">
          <img src="{{ asset(article.getImage().getPath()|default('https://www.nordsports-mag.fr/wp-content/uploads/2024/09/chti-bike-tour-2024-rando-familles-nord-photo-laurent-sanson-41.jpg')) }}" alt="{{ article.title }}" class="w-full h-64 object-cover" />
          <div class="absolute bottom-0 bg-black bg-opacity-50 text-white px-2 py-1 w-full text-center">{{ article.title }}</div>
        </div>
      </a>
    {% endfor %}
  </div>

  <!-- Section Carte et itinéraire -->
  <div class="py-4 md:py-6 lg:py-8 px-8 md:px-20 lg:px-32 flex flex-col items-center">
    <h2 class="text-lg md:text-xl lg:text-2xl font-bold text-primary m-4 text-center">
      {{ config.block3Title|default('Carte et itinéraire')|raw }}
    </h2>
    <p class="text-gray-600 mb-6 text-justify">
      {{ config.block3Text|default('Description par défaut pour la section itinéraire.')|raw }}
    </p>
    <!-- Image de la Carte -->
    <a href="{{ path('app_map') }}">
      <img src="{{ asset('images/map.png') }}" class="object-cover mx-auto" alt="Carte de l'itinéraire" />
    </a>
  </div>
{% endblock %}
