{#
Reason that this is a single message is that you might want to change how they're arranged.
If you need to change how one looks, please change this template and add a parameter.
Includes another twig for the Like button, which is a comonent of its own but that needs to be kept track of.

Parameters:
- message: Message - The message to display
- actionPath: string - The path to send the form data to
#}

<div class="rounded-lg p-4 bg-background drop-shadow-lg flex flex-col gap-1">
    <div class="flex flex-col lg:flex-row lg:items-center gap-4">
        <div class="flex flex-row justify-between w-full">
            <div class="flex flex-col md:flex-row gap-1 md:gap-4 md:items-center">
                <p class="text-primary font-semibold text-xl">{{ message.getAuthor().getUsername() }}</p>
                <p class="text-xs text-center">{{ message.getDate()|date("d/m/Y H:i") }}</p>
            </div>

            {# Action buttons #}
            <div class="flex flex-row">
                {# Edit button #}
                <a href="{{ path('mod_edit_message', {'id': message.getId()}) }}">
                    <img class="w-7 h-7" src="{{ asset('icons/edit_pencil.svg') }}"/>
                </a>

                {# Delete button #}
                <a href="{{ path('mod_delete_message', {'id': message.getId()}) }}">
                    <img class="w-7 h-7" src="{{ asset('icons/delete.svg') }}"/>
                </a>
            </div>
        </div>
    </div>
    <p class=>{{ message.getContent() }}</p>

    <p class="italic text-slate-500 xl:self-start self-center">{{ message.getHasLiked()|length }} j'aime(s)</p>
    {{ include('components/like_button.html.twig',
        {
            'hasLiked': is_granted("ROLE_USER") ? message in app.user.likedMessages : false,
            'actionPath': actionPath
        })
    }}
</div>
